.DS_Store
registered_repos.txt
setup_all_students.sh
students_list.txt
students_listOK.txt
students_listOK1.txt
students_listOK2.txt
students_listOK3.txt
students_listOK4.txt
students_listOK5.txt
students_listOK6.txt
students_listOK7.txt
students_listOK8.txt
students_listOK9.txt
students_listOK10.txt
students_listOK11.txt
学生リポジトリ作成.md
check_github_ids.sh